body {
	background-image: url("../images/I-Stock-Basketball-Court.jpg");
	background-size: cover;
}

.container {
	margin-top: 120px;
}

#game {
	color: #FF7600;
	text-align: center;
}

.answer-choice {
	font-size: 32px;
	padding: 5px;
}

.answer-choice:hover {
	background-color: cyan;
	cursor: pointer;
}

#clock {
	color: yellow;
	text-align: center;
}

.btn {
	background-color: cyan;
	font-weight: bold;
	font-size: 22px;
	margin-top: 10px;
}