body {
	background-image: url("../images/I-Stock-Basketball-Court.jpg");
	background-size: cover;
}

#game {
	color: #FF7600;
	text-align: center;
}

h3:hover {
	background-color: cyan;
}

#clock {
	color: yellow;
}

.btn {
	background-color: cyan;
}